<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" "text/css" href="/assets/css/form.css">
    <link rel="stylesheet" "text/css" href="/assets/css/style.css">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.24.0/dist/phaser.min.js"></script>
    <title>SOB</title>
</head>
<body>
      <nav class="navbar" id="navbar" role="navigation" aria-label="main navigation">
         <div class="navbar-brand">
          <a role="button" class="navbar-burger" aria-label="menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="nav-container" class="navbar-menu">
          <div class="navbar-start">
            <span class="btn" class="navbar-item">
              <a href="/" style="color: white;">
                Home
                </a>
              </span>
              <span class="btn" class="navbar-item">
                <a href="/howto" style="color: white;">
                  How to Play
                  </a>
              </span>
              <span class="btn" class="navbar-item">
                <a href="/about" style="color: white;">
                  About Us
                </a>
              </span>
              <span class="btn" class="navbar-item">
                <a href="/feedback" style="color: white;">
                  Feedback
                </a>
              </span>
              <span class="btn" class="navbar-item">
                <a href="/game" style="color: white;">
                  Play Here
                  </a>
            </span>
           </div>
        </div>
  
     <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="btn" id="signup" href="/profile">
            <strong>Sign up / Log in</strong>
          </a>
        </div>
      </div>
    </div>
</nav>

    {{{body}}}
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script rel="script" src="/assets/js/script.js"></script>
</body>
</html>
