
<div>
    <h4>MEET THE CREATORS</h4>
</div>

<div class="container hero is-flex is-fullheight">
<div class="columns">
  <div class="column" id="column1">
    <h3>Devin Mosca</h3><br>
    <span class="btn2" href="https://github.com/DMosca2021">GitHub</span>
  </div>
  <div class="column" id="column2">
    <h3>Tifanny Rivera</h3><br>
    <span class="btn2" href="https://github.com/trivera777">GitHub</span>
  </div>
  <div class="column" id="column3">
    <h3>Nathan Flessner</h3> <br>
    <div>
    <span class="btn2" href="https://github.com/SirNathanJF">GitHub</span>
    </div>
  </div>
</div>