<div class="hero is-fullheight">

  <div class="container">
    <h1 class="neon">Scrypts of Betrayal</h1>

    <div class="btn" class="navbar-item" id="homenav">
      <div id="homenav">
              <a href="/" style="color: black;">
                HOME
                </a>
              </span>
              <div class="btn" class="navbar-item">
                <a href="/howto">
                  HOW TO PLAY
                  </a>
              </div >
              <span class="btn" class="navbar-item">
                <a href="/about">
                  ABOUT
                </a>
              </span>
              <span class="btn" class="navbar-item">
                <a href="/feedback">
                  FEEDBACK
                </a>
              </span>
              <span class="btn" class="navbar-item">
                <a href="/game">
                   Here
                  </a>
            </span>
  </div>
  </div>

</div>