<div class="hero is-fullheight">

  <div class="container">
    <h1 class="neon">Scrypts of Betrayal</h1>

      <div class="btn" id="homenav">
        <a href="/howto" style="color: black;">
          HOW TO PLAY
          </a>
      </div>
      <div class="btn" id="homenav">
        <a href="/about" style="color: black;">
          ABOUT
        </a>
      </div>
      <div class="btn" id="homenav">
        <a href="/feedback" style="color: black;">
          FEEDBACK
        </a>
      </div>
      <div class="btn" id="homenav">
        <a href="/game" style="color: black;">
            PLAY HERE
        </a>
    </div>
  </div>
  </div>

</div>