<style>
  #navbar a { display: none;}
  .navbar { background-color: transparent;}
</style>

<div id='home-nav-parent'>
  <h1 class='neon'>Scrypts of Betrayal</h1>

  <div class='btn' id='homenav'>
    <a href='/howto'>
      HOW TO PLAY
    </a>
  </div>
  <div class='btn' id='homenav'>
    <a href='/about'>
      ABOUT
    </a>
  </div>
  <div class='btn' id='homenav'>
    <a href='/feedback'>
      FEEDBACK
    </a>
  </div>
  <div class='btn' id='homenav'>
    <a href='/game'>
      PLAY HERE
    </a>
  </div>
    <div class='btn' id='homenav'>
    <a href='/profile'>
      SIGN UP / LOG IN
    </a>
   </div>
  </div>
  <div class='clouds'>
    <img src='/assets/cloud1.png' style='--i:1;' />
    <img src='/assets/cloud2.png' style='--i:2;' />
    <img src='/assets/cloud3.png' style='--i:3;' />
    <img src='/assets/cloud4.png' style='--i:4;' />
    <img src='/assets/cloud5.png' style='--i:5;' />
  </div>
</div>