<div id="about-container">
    <div class="columns">
        <div class="column" id="column5">
            <img src="/assets/arrowkeys.png" alt="how to play"  width="300" height="400">
            Use the arrow keys to navigate your way through the map.<br>
            Press "D" to view hit boxes.

        </div>
    </div>
</div>