<div class="container hero is-flex is-fullheight">
    <div class="columns">
        <div class="column" id="column5">
            <img src="/assets/arrowkeys.png" alt="how to play"  width="500" height="600">
        </div>
    </div>
</div>