<div id="about-container">
    <div class="columns">
        <div class="column" id="column5">
            <img src="/assets/img/arrowkeys.png" alt="how to play"  width="300" height="400">
                <p>
                - Use the arrow keys to navigate your way through the map.<br>
                - Press "D" to view hit boxes.
                </p>
        </div>
    </div>
</div>