<div class="container hero is-flex is-fullheight">
<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input id="password-create" type="password" placeholder="password"/>
      <input type="text" id="email-create" placeholder="email address"/>
      <button id="create">create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input id="email-login" type="text" placeholder="email" />
      <input id="password-login" type="password" placeholder="password"/>
      <button id="login">login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>

