body {
  background-color: black;
}
.navbar {
color: white;
background-color: black;
font-family: monospace;
}

.navbar, .navbar-menu, a:hover {
  color: black;
  
}
.navbar-item, .navbar-burger {
  background-color: black;
  color: white;
}

.navbar-item {
  margin: 5px;
}

.navbar .button {
  background-color: red;
  color: white;
  border: .5em red;
  border-radius: .5em;
  font-family: monospace;
}

h3 {
  font-size: 30px;
}

h4 {
  font-family: monospace;
  font-size: 40px;
  text-align: center;
  color: greenyellow;
  letter-spacing: 2rem;
}


#column1, #column2, #column3 {
 background-color: salmon;
 border-radius: 1em;
 font-family: 'Share-TechMono', sans-serif;
  text-align: center;
  color: white;
}



.btn {
  letter-spacing: 0;
  color: white;
}

.btn:hover,
.btn:active {
  letter-spacing: 5px;
  color: white;
}

.btn:after,
.btn:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn:hover:after,
.btn:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
  color: white;
}

.btn:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}



.btn2 {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}
.btn2 {
  color: #FFF;
  transition: all 0.5s;
  position: relative; 
}
.btn2 span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.btn2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid black;
}
.btn2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid black;
}
.btn2:hover::before {
  transform: rotate(-45deg);
  border: 1px solid limegreen;
}
.btn2:hover::after {
  transform: rotate(45deg);
  border: 1px solid limegreen;
}
