@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  background-image: url('/assets/img/mainmapforprojectv3.png');
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

html {
  height: 100%;
  width: 100%;
}
/* navbar text */
.navbar span,
.btn {
  margin: 7px;
  font-family: 'VT323', monospace;
  font-size: 35px;
  text-shadow: 0 0 15px rgb(255, 255, 255);
  text-shadow: 0 0 15px rgb(255, 0, 0);
}

/* navbar color */
.navbar {
  background-color: rgba(0, 0, 0, 0.397);
}

.clouds {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 35vh;
}
.clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(10s * var(--i)) linear infinite;
  background-position: relative;
  height: 100%;
}
@keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* sign up button */
#signup {
  background-color: red;
  color: white;
  border-radius: 1em;
  padding: 5px;
  font-family: 'VT323', monospace;
}

.homenav {
  background-position: inherit;
}
/* navigation on home page */
#homenav {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: black;
}

#container {
  background-color: blue;
  height: 200px;
}
/* scrypts of betrayal text in homepage */
h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'VT323', monospace;
}
.neon {
  color: black;
  text-shadow: 0 0 5px #fff, 
  0 0 10px #fff, 
  0 0 20px black,
  0 0 40px rgb(255, 0, 0), 
  0 0 80px rgb(255, 0, 0), 
  0 0 100px rgb(255, 0, 0),
  0 0 125px rgb(255, 0, 0), 
  0 0 150px rgba(255, 0, 0, 0.822);
  font-family: 'Press Start 2P', cursive;
  margin-top: 80px;
}

/* our names on about us */
h3 {
  font-size: 35px;
  text-shadow: 
    7px 2px 7px red, 
    0 0 25px rgb(255, 0, 0), 
    0 0 5px rgb(255, 0, 0);
  font-family: monospace;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bolder;
}

/* meet the creators big text */
h4 {
  font-family: monospace;
  font-size: 60px;
  text-align: center;
  color: rgb(0, 0, 0);
  letter-spacing: 2rem;
  margin-bottom: 20px;
  font-weight: bolder;
  text-shadow: 5px 5px 10px lime;
}

/* about us columns */
#column1,
#column2,
#column3 {
  background-color: rgb(17, 255, 0);
  border-radius: 2em;
  font-family: monospace;
  text-align: center;
  color: black;
  margin: 20px;
  padding: 5px;
}

/* what was used column */
#column4 {
  border-radius: 2em;
  background-color: rgb(17, 255, 0);
  text-align: center;
}

/* how to play column */
#column5 {
  background-color: #e6e6e6;
  border-radius: 2em;
  color: black;
  font-size: 20px;
  display: flex;
  margin: 60px;
  justify-content: center;
}

/* game page */
#game-container {
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  align-content: center;
}

#game-body {
  background-color: rgb(0, 0, 0);
}

/* btn is nav bar and sign in buttons */
/* btn2 is GitHub link in about us page */
.btn:hover,
.btn:active,
.btn2:hover,
.btn2:active,
a {
  color: black;
}

.btn:hover,
.btn2:hover {
  letter-spacing: 5px;
  color: black;
}

.btn2 {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  position: absolute;
  font-size: 25px;
  font-weight: bolder;
}
.btn2 {
  transition: all 0.5s;
  position: relative;
}
.btn2 span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgb(17, 255, 0);
}
.btn2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgb(17, 255, 0);
}
.btn2:hover::before {
  transform: rotate(-45deg);
  border: 1px solid limegreen;
}
.btn2:hover::after {
  transform: rotate(45deg);
  border: 1px solid limegreen;
}

@media screen and (max-width: 768px) {
  .clouds {
    display: none;
  }
}
