@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background-image: url('/assets/mainmapforprojectv3.png');
}

.navbar span,
.btn {
  color: white;
  font-family: monospace;
  margin: 5px;
}

.navbar span,
.btn {
  color: red;
}

.navbar {
  background-color: black;
  color: white;
}

#signup {
  background-color: red;
  color: white;
  border-radius: 1em;
  padding: 5px;
}

#homenav {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: black;
}

h1 {
  font-size: 70px;
  text-align: center;
  font-family: 'VT323', monospace;
}
h3 {
  font-size: 30px;
  text-shadow: 7px 2px 7px red, 0 0 25px rgb(255, 0, 0), 0 0 5px rgb(255, 0, 0);
  font-family: monospace;
  color: white;
  text-align: center;
  font-weight: bolder;
}

h4 {
  font-family: monospace;
  font-size: 60px;
  text-align: center;
  color: greenyellow;
  letter-spacing: 2rem;
  margin-bottom: 20px;
  font-weight: bolder;
  text-shadow: 5px 5px 5px lime;
}

#column1, 
#column2, 
#column3 {
 background-color: rgb(17, 255, 0);
 border-radius: 2em;
 font-family: monospace;
 text-align: center;
 color: black;
 margin-left: 10px;
}

#column4 {
  border-radius: 2em;
  background-color: rgb(17, 255, 0);
}

#column5 {
  background-color: royalblue;
  border-radius: 2em;
}

.btn:hover,
.btn:active,
.btn2:hover,
.btn2:active, a {
  color: red;
}
.btn:hover,
.btn2:hover {
  letter-spacing: 5px;
  color: red;
}

.btn2 {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}
.btn2 {
  color: #FFF;
  transition: all 0.5s;
  position: relative; 
}
.btn2 span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.btn2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgb(17, 255, 0);
}
.btn2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgb(17, 255, 0);
}
.btn2:hover::before {
  transform: rotate(-45deg);
  border: 1px solid limegreen;
}
.btn2:hover::after {
  transform: rotate(45deg);
  border: 1px solid limegreen;
}

/* text effect */

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(255, 0, 0),
    0 0 80px rgb(255, 0, 0),
    0 0 100px rgb(255, 0, 0),
    0 0 125px rgb(255, 0, 0),
    0 0 150px rgba(255, 0, 0, 0.822);
  font-family: monospace;
  margin-top: 150px;
}

#game-container {
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  align-content: center;
}

